#page-roomsMe {

  a {
    text-decoration: none;
  }

  header {
    padding: 24px;
    border-bottom: 1px solid #e2e2e2;
    .content {
      max-width: 1120px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > img {
        min-height: 45px;
      }

      > div {
        display: flex;
        gap: 16px;

        button {
          height: 40px;
        }
      }
    }

    .infos {
      button {
        height: 40px;
        border-radius: 8px;
        overflow: hidden;
        background: #Fff;
        border: 1px solid #835afd;
        color: #835afd;
        cursor: pointer;
        display: flex;
      }
    }
   
  }

  .rooms {
    max-width: 800px;
    margin: 48px auto 56px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 24px;

    > div {  
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .details {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h2 {
          color: rgb(54, 54, 63);
        }
      }
    }

    .room {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 24px 0 0;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;

        .iconsButton {
          border: 0;
          background: transparent;
          cursor: pointer;
          transition: filter 0.2s;
        }
      }

      h1 {
        font-size: 24px;
      }

      & + .room {
        border-top: 1px solid #e2e2e2;
      }
    }
  }
}