#page-roomsMe {

  a {
    text-decoration: none;
  }
  
  .rooms {
    max-width: 800px;
    margin: 48px auto 56px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 24px;

    > div {  
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .details {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h2 {
          color: rgb(54, 54, 63);
        }
      }
    }

    .room {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 24px;
      border-radius: 8px;
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.09);

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;

        .iconsButton {
          border: 0;
          background: transparent;
          cursor: pointer;
          transition: filter 0.2s;
        }
      }

      h1 {
        font-size: 24px;
      }
    }
  }
}