#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  main { 
    flex: 8;

    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 320px;
    text-align: center;

    > img {
      align-self: center;
    }

    h2 {
      font-size: 24px;
      margin: 64px 0 24px;
      font-family: 'Poppins', sans-serif;
    }

    .create-room {
      margin-top: 64px;
      height: 50px;
      border-radius: 8px;
      font-weight: 500;
      background: #ea4335;
      color: #fff;
      
      display: flex;
      align-items: center;
      justify-content: center;
  
      cursor: pointer;
      border: 0;
      transition: filter 0.2s;
  
      img { 
        margin-right: 8px;
      }
  
      &:hover {
        filter: brightness(0.9);
      }
    }
  
    .separator {
      font-size: 14px;
      color: #a8a8be;
  
      margin: 32px 0;
      display: flex;
      align-items: center;
  
      &::before {
        content: '';
        flex: 1;
        height: 1px;
        background: #a8a8b3;
        margin-right: 16px;
      }
  
      &::after {
        content: '';
        flex: 1;
        height: 1px;
        background: #a8a8b3;
        margin-left: 16px;
      }
    }

    form {
      input {
        height: 58px;
        outline-color: #a8a8b3;
        border-radius: 8px;
        padding: 0 16px;
        background: #e4e4e4;
        border: 1px solid #a8a8b3;
      }

      button {
        margin-top: 16px;
      }

      button, input {
        width: 100%;
      }
    }
    p {
      font-size: 14px;
      color: #737388;
      margin-top: 16px;
      text-align: left;

      a {
        color: #e559f9;
      }
    }
  }
}