#page-room {
  main {
    max-width: 800px;
    padding: 0 36px;
    margin: 0 auto;

    .room-title {
      margin: 48px 0 24px;
      display: flex;
      align-items:center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 12px;

      h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        color: #29292e;
        max-width: 90%;
        word-break: break-all;
      }

      span {
        background: #e559f9;
        border-radius: 99px;
        padding: 8px 16px;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
      }
    }

    form {
      textarea {
        width: 100%;
        border: 0;
        padding: 16px;
        border-radius: 8px;
        background: #fef3fe;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.09);
        resize: vertical;
        min-height: 130px;
        max-height: 240px;
        line-height: 1.2rem;
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;

        span {
          font-size: 14px;
          color: #737388;
          font-weight: 500;

          button {
            background: transparent;
            color: #835afd;
            border: 0;
            text-decoration: underline;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
            margin-left: 4px;
          }
        }
      }
    }

    .question-list {
      margin: 32px 0 56px;
    }
  }
}