.question {
  background: #fefefe;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.09);
  padding: 24px;

  & + .question {
    margin-top: 8px;
  }

  
  &.highlighted {
    background: #f4f0ff;
    border: 1px solid #835afd;
    
    footer .user-info span {
      color: #29292e;
    }
  }
  
  &.answered {
    background: #d8dcdd;
  }

  p {
    color: #29292e;
    word-break: break-word;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    > div {
      display: flex;
      align-items: center;
      justify-content:center;
      gap: 16px;

      .text-answered {
        background: #835afd;
        color: #f4f0ff;
        padding: 8px 12px;
        border-radius: 99px;
      }

      .text-highlighted {
        background: #835afd;
        color: #f4f0ff;
        padding: 8px 12px;
        border-radius: 99px;
      }
      
      span {
        display: flex;
        align-items: center;
        color: #737380;
      }
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter 0.2s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: #737380;
        gap: 8px;

        &.liked {
          color: #835afd;

          svg path {
            stroke: #835afd;
          }
        }
      }

      &:hover {
        filter: brightness(0.7);
      }
    }
  }
}