#page-admin-room {
  main {
    max-width: 800px;
    margin: 0 auto;

    .details {
      margin-top: 48px;
    }

    .room-title {
      margin: 16px 0 24px;
      display: flex;
      align-items:center;

      h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        color: #29292e;
      }

      span {
        margin-left: 16px;
        background: #e559f9;
        border-radius: 99px;
        padding: 8px 16px;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
      }
    }

    .question-list {
      margin: 32px 0 56px;
    }
  }
}